In [2]:
import pandas as pd
from sqlalchemy import create_engine, Column, Integer, String, Date, Text, text
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import streamlit as st
import seaborn as sns
import matplotlib.pyplot as plt

# Configuração do PostgreSQL no Docker
DB_USER = "admin"
DB_PASSWORD = "admin123"
DB_HOST = "localhost"  # Se estiver rodando no Docker, use "localhost" ou o nome do serviço no docker-compose
DB_PORT = "5432"
DB_NAME = "postgres"

DATABASE_URL = f"postgresql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Criando a engine do SQLAlchemy
engine = create_engine(DATABASE_URL)
SessionLocal = sessionmaker(autocommit=False, autoflush=False, bind=engine)
Base = declarative_base()

# Nome da view criada no PostgreSQL
view_name = "nps_feedback_view"  # Substitua pelo nome correto da sua view

# Criando uma sessão no banco
with engine.connect() as conn:
    df = pd.read_sql(f"SELECT * FROM {view_name}", conn)

/tmp/ipykernel_11787/3539615418.py:21: MovedIn20Warning: The ``declarative_base()`` function is now available as sqlalchemy.orm.declarative_base(). (deprecated since: 2.0) (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [3]:
df

,id,nome,idade,genero,estado,mercado,data_resposta,Q_um,Q_dois,Q_tres,Q_quatro,Q_cinco,Q_seis,Q_sete,Q_oito,Q_nove,media_final,classificacao_nps
0,1,Brian Barber,68,Feminino,Alagoas,Entretenimento e Mídia,2025-01-10,3,1,3,9,9,6,5,4,9,5.0,Detrator
1,2,Larry Chavez,20,Masculino,Alagoas,Beleza e Cosméticos,2025-02-15,9,4,7,3,1,4,1,4,7,4.0,Detrator
2,3,Tammy Gray,21,Feminino,Distrito Federal,Entretenimento e Mídia,2025-02-16,5,7,9,8,8,2,5,8,7,7.0,Neutro
3,4,Elizabeth Adams,48,Feminino,Acre,Beleza e Cosméticos,2025-02-07,6,1,9,1,3,7,4,5,5,5.0,Detrator
4,5,Wayne Alexander,23,Feminino,Mato Grosso,Beleza e Cosméticos,2025-01-04,3,9,5,8,1,6,3,6,9,6.0,Detrator
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1996,Christopher Wagner,57,Feminino,Espírito Santo,Automotivo,2025-01-14,2,7,3,8,2,9,6,8,7,6.0,Detrator
1996,1997,Joann Mccullough,41,Feminino,Mato Grosso do Sul,Saúde e Bem-Estar,2025-01-21,3,9,3,9,9,6,4,8,3,6.0,Detrator
1997,1998,Michael Morrow,49,Masculino,Mato Grosso,Saúde e Bem-Estar,2025-01-19,1,6,3,6,9,4,4,8,8,5.0,Detrator
1998,1999,Samantha Robinson,23,Feminino,Roraima,Alimentos e Bebidas,2025-01-29,9,4,3,2,1,2,2,3,1,3.0,Detrator
1999,2000,Daniel Cooper,58,Masculino,Pernambuco,Moda e Vestuário,2025-02-10,3,2,7,5,3,2,9,9,7,5.0,Detrator

In [5]:
import psycopg2

# Dados de conexão (ajustado com o hostname correto)
host = "dpg-cupt48dumphs73eb1c50-a.oregon-postgres.render.com"
port = "5432"  # Porta padrão do PostgreSQL
dbname = "live_18_02_postgres_universidade"
user = "live_18_02_postgres_universidade_user"
password = "T14rPvIlLQfBUeAKQCh14vIaSUJgbWaD"

# Conectar ao banco
try:
    connection = psycopg2.connect(
        host=host,
        port=port,
        dbname=dbname,
        user=user,
        password=password
    )

    cursor = connection.cursor()

    # Realizar operações no banco de dados
    cursor.execute("SELECT version();")
    db_version = cursor.fetchone()
    print("Conectado ao banco, versão:", db_version)

except Exception as e:
    print("Erro ao conectar ao banco:", e)

finally:
    if connection:
        cursor.close()
        connection.close()

Conectado ao banco, versão: ('PostgreSQL 16.6 (Debian 16.6-1.pgdg120+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 12.2.0-14) 12.2.0, 64-bit',)